/* ==== RESETS ==== */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body,
h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 80px 0;
}

.container-flex {
  display:flex;
  margin: 0 auto;
  max-width: 980px;
}

.header-title {
  color: #ED1D24;
  text-transform: uppercase;
  font-style: italic;
  justify-content: center;
  align-items:center;
  padding: 0 5px;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
}

.header-img {
  height: 5rem;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

.announcement {
  color: #0054a3;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 0.75em;
}

.hero {
  padding: 1em 0.5em;
  font-size: 1.5rem;
  line-height: 1.5;
  justify-content: space-around;
  color: #474747;
  align-items: center;
  flex-direction: column;
}

.info {
  flex-direction: column;
  margin: 0 3%;
}

.separator {
  display:none;
}

.moving-figure {
  max-width: 90%;
  font-size: 1rem;
}

.moving-img {
  margin-top: 2em;
  width: 100%;
}

.highlight {
  font-weight: bold;
  color: #ED1D24;
}

.services-header {
  text-align: center;
  color: #474747;
}

.services {
  margin: 2em auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.services > li {
  font-size: 1.25em;
  margin: 0.5em 0.75em;
}


.footer {
  padding: 0 1em;
  font-size: 1.2rem;
  color: #474747;
  text-align: center;
}

@media screen and (min-width: 680px) {
  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .announcement {
    font-size: 3rem;
  }

  .separator {
    display: block;
    height: 10em;
    border-left: 2px solid #7D7D7D;
  }

  .hero {
    flex-direction: row;
    padding: 2em 0.5em;
  }

  .moving-figure {
    max-width: 40%;
  }

  .services {
    height: 15em;
  }

}
